html,body{
    background-color: skyblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: grey;
}

h1, h1 u{
    text-align: center;
    color: grey;
    margin-top: 20%;
}
h1 h2{
    text-align: center;
}
p{
    text-align: center;
}